{% extends 'layout.html.twig' %}

{% block title %}Create Player!{% endblock %}

{% block content %}
    <h1>Create your player</h1>

    {{ form_start(playerForm) }}
    {{ form_row(playerForm.name) }}
    {{ form_row(playerForm.race) }}
    {{ form_end(playerForm) }}
{% endblock %}
