{% extends 'layout.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block content %}
    <h1>Backpack</h1>

    {% if playerItemSlots|length %}
        <h2>Used slots</h2>
        <table class="table bg-dark text-white">
            {% for playerItemSlot in playerItemSlots %}
                <tr>
                    <td>{{ playerItemSlot.getSlot() }}</td>
                    {% if playerItemSlot.playerItem() %}
                        <td>{{ playerItemSlot.playerItem().getItem() }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h2>Inventory</h2>
    {% if playerItems|length %}
        <table class="table bg-dark text-white">
            {% for playerItem in playerItems %}
                {% set item = playerItem.item %}
                <tr>
                    <td style="color:{{ item.getQuality().getColor() }}">{{ item }} {{ playerItem.getCount() > 1 ? '(' ~ playerItem.getCount() ~ ')' : '' }}</td>
                    <td>{{ item.getType() }}</td>
                    <td>
                        {{ item.getItemAttributes()|join(',') }}
                    </td>
                    <td class="text-right">
                        <a class="btn btn-primary" href="{{ path('item_use', {
                            'id': playerItem.getId()
                        }) }}">use</a>
                        <a class="btn btn-primary" href="{{ path('item_show', {
                            'id': playerItem.getId()
                        }) }}">show</a>
                        <a class="btn btn-primary" href="{{ path('equipment_remove', {
                            'id': playerItem.getId()
                        }) }}">remove</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
