{% extends 'layout.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block content %}
    <h1>{{ player.race }} {{ player.name }}</h1>

    <table class="table bg-dark text-white">
        <tr>
            <td>Experience</td>
            <td>{{ player.getExperience() }}</td>
        </tr>
        <tr>
            <td>Current location</td>
            <td>{{ player.getCurrentLocation() }}</td>
        </tr>
    </table>

    <h1>Attributes</h1>

    {% set playerAttributes = player.getPlayerAttributes() %}

    <table class="table bg-dark text-white">
        {% for playerAttribute in playerAttributes %}
        <tr>
            <td>{{ playerAttribute.getAttribute().getName() }}</td>
            <td>{{ playerAttribute.getCurrentValue() }} / {{ playerAttribute.getBaseValue() }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
