{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="form-signin">
        <h1>Register</h1>
        <div>Already have account? <a href="{{ path('app_login') }}">Login</a></div>
        {{ form_start(registrationForm) }}

        <div>{{ form_label(registrationForm.email) }}</div>
        <div>{{ form_widget(registrationForm.email) }}</div>
        <div>{{ form_label(registrationForm.plainPassword) }}</div>
        <div>{{ form_widget(registrationForm.plainPassword) }}</div>
{#        {{ form_row(registrationForm.email) }}#}
{#        {{ form_row(registrationForm.plainPassword) }}#}

        <button class="btn btn-lg btn-primary btn-block">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
