{% set player = app.user.player %}
{% if player is not empty %}
    <nav class="col-md-3 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
            <h3>{{ player.race }} {{ player.name }}</h3>

            <table class="table table-sm bg-dark text-white">
                <tr>
                    <td>Life</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar"
                                 style="width: {{ 100 * player.getPlayerAttribute('life').getCurrentValue() / player.getPlayerAttribute('life').getBaseValue() }}%"
                                 aria-valuenow="{{ player.getPlayerAttribute('life').getCurrentValue() }}"
                                 aria-valuemin="{{ player.getPlayerAttribute('life').getBaseValue() }}"
                                 aria-valuemax="100">{{ player.getPlayerAttribute('life').getCurrentValue() }}</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Mana</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ 100 * player.getPlayerAttribute('mana').getCurrentValue() / player.getPlayerAttribute('mana').getBaseValue() }}%"
                                 aria-valuenow="{{ player.getPlayerAttribute('mana').getCurrentValue() }}"
                                 aria-valuemin="{{ player.getPlayerAttribute('mana').getBaseValue() }}"
                                 aria-valuemax="100">{{ player.getPlayerAttribute('mana').getCurrentValue() }}</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Experience</td>
                    <td>{{ player.getExperience() }}</td>
                </tr>
                <tr>
                    <td>Current location</td>
                    <td>{{ player.getCurrentLocation() }}</td>
                </tr>
            </table>

            <h3>Attributes</h3>

            {% set playerAttributes = player.getPlayerAttributes() %}

            <table class="table table-sm bg-dark text-white">
                {% for playerAttribute in playerAttributes %}
                    {% if not playerAttribute.attribute.isBasic %}
                        <tr>
                            <td>{{ playerAttribute.getAttribute().getName() }}</td>
                            <td>{{ playerAttribute.getCurrentValue() }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </nav>
{% endif %}
