{% extends 'layout.html.twig' %}

{% block title %}Hello CraftingController!{% endblock %}

{% block content %}
    <table class="table bg-dark text-white">
        {% for receipe in receipes %}
            <tr>
                <td>{{ receipe.receipe.getItem() }}</td>
                <td><span class="badge {{ receipe.available ? 'badge-success' : 'badge-danger' }}">
                    {{ receipe.available ? 'available' : 'not available' }}
                </span></td>
                <td>
                    <ul>
                    {% for receipeItem in receipe.receipeItems %}
                        <li><span class="badge {{ receipeItem.available ? 'badge-light' : 'badge-danger' }}">
                            {{ receipeItem.item.getName() }} x {{ receipeItem.count }}
                        </span></li>
                    {% endfor %}
                    </ul>
                </td>
                <td class="text-right">
                    {% if receipe.available %}
                        <a class="btn btn-primary" href="{{ path('crafting_create', {
                            'id': receipe.receipe.getId()
                        }) }}">create</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
