{% extends 'layout.html.twig' %}

{% block title %}Hello MonsterController!{% endblock %}

{% block content %}
    <h1>Fight with monster {{ monster }}</h1>

    <h2>Report</h2>
    <a class="btn btn-primary" data-toggle="collapse" href="#report" role="button" aria-expanded="false" aria-controls="report">
        Toggle report
    </a>
    <table class="table collapse bg-dark text-white" id="report">
        {% for entry in report %}
            <tr>
                <td>{{ entry.attacker }} deals {{ entry.attackerDamage }} damage for {{ entry.defender }}</td>
                <td>{{ entry.defender }} has now {{ entry.defenderLife }} life</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Looted items</h2>
    <a class="btn btn-primary" data-toggle="collapse" href="#loot" role="button" aria-expanded="true" aria-controls="loot">
        Toggle loot
    </a>
    <table class="table collapse show bg-dark text-white" id="loot">
        {% for lootItem in lootItems %}
            <tr>
                <td>{{ lootItem['item'] }} {{ lootItem['count'] > 0 ? '(' ~ lootItem['count'] ~ ')' : '' }}</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Actions</h2>
    <table class="table bg-dark text-white">
        <tr>
            <td>
                <a class="btn btn-primary" href="">Fight again</a>
                <a class="btn btn-primary" href="{{ path('location') }}">Travel...</a>

                {% if player.getCurrentLocation() is not empty %}
                    {% set location = player.getCurrentLocation() %}
                    <a class="btn btn-primary" href="{{ path('location_discover', {
                        'id': location.getId()
                    }) }}">Back to {{ location }}</a>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
