{% extends 'layout.html.twig' %}

{% block title %}Hello MonsterController!{% endblock %}

{% block content %}
    <h1>Monster {{ monster }}</h1>

    <h2>Description</h2>
    <table class="table bg-dark text-white">
        <tr>
            <td>Life</td>
            <td class="text-right">{{ monster.getLife() }}</td>
        </tr>
        <tr>
            <td>Damage</td>
            <td class="text-right">{{ monster.getDamage() }}</td>
        </tr>
        <tr>
            <td>Min Level</td>
            <td class="text-right">{{ monster.getMinLevel() }}</td>
        </tr>
        <tr>
            <td>Max Level</td>
            <td class="text-right">{{ monster.getMaxLevel() }}</td>
        </tr>
    </table>

    {% if monster.getLoots()|length %}
        <h2>Items</h2>
        <table class="table bg-dark text-white">
            {% for loot in monster.getLoots() %}
                <tr>
                    <td>{{ loot.getItem() }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if monster.getLocations()|length %}
        <h2>Locations</h2>
        <table class="table">
            {% for location in monster.getLocations() %}
                <tr>
                    <td>{{ location }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
