{% extends 'layout.html.twig' %}

{% block title %}Hello LocationController!{% endblock %}

{% block content %}
    <h1>Discover {{ location }}</h1>

    {% if location.getMonsters()|length %}
        <h2>Monsters</h2>
        <table class="table bg-dark text-white">
            {% for monster in location.getMonsters() %}
                <tr>
                    <td>{{ monster }}</td>
                    <td class="text-right">
                        <a class="btn btn-primary" href="{{ path('monster_inspect', {
                            'id': monster.getId()
                        }) }}">inspect</a>
                        <a class="btn btn-primary" href="{{ path('monster_fight', {
                            'id': monster.getId()
                        }) }}">fight</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if location.getPlaces()|length %}
        <h2>Places</h2>
        <table class="table bg-dark text-white">
            {% for place in location.getPlaces() %}
                <tr>
                    <td>{{ place }}</td>
                    <td class="text-right">
                        <a class="btn btn-primary" href="#">visit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
