{% extends 'layout.html.twig' %}

{% block title %}Hello LocationController!{% endblock %}

{% block content %}
    <table class="table bg-dark text-white">
        {% set currentLocation = app.user.getPlayer().getCurrentLocation() %}
        {% for location in locations %}
            <tr>
                {% if currentLocation and location.getId() == currentLocation.getId() %}
                    <td>* {{ location }}</td>
                {% else %}
                    <td>{{ location }}</td>
                {% endif %}
                <td class="text-right"><a class="btn btn-primary" href="{{ path('location_travel', {
                        'id': location.getId()
                    }) }}">go</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
