{% extends 'layout.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block content %}
    <div class="jumbotron bg-dark text-white">
        {% if app.user.getPlayer() is not empty %}
            {% set player = app.user.getPlayer() %}
            <h1>Hello {{ player.getName() }}</h1>

            <h2>You have now {{ player.getExperience() }} experience</h2>
            <p>To gain more experience, go to <a href="#">forest</a></p>
            {% if player.getCurrentLocation() is not empty %}
                <p>You are in {{ player.getCurrentLocation() }}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
