{% extends 'layout.html.twig' %}

{% block title %}Hello LocationController!{% endblock %}

{% block content %}
    <table class="table">
        {% for place in places %}
            <tr>
                <td>{{ place }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
