{% extends "base.html.twig" %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm mb-4">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">Midgard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% set routeName = app.request.get('_route') %}
            <ul class="navbar-nav mr-auto">
                {% if app.user.getPlayer() %}
                    <li class="nav-item {{ routeName == 'player_equipment' ? " active" : "" }}">
                        <a class="nav-link" href="{{ path('player_equipment') }}">Equipment</a>
                    </li>
                    <li class="nav-item {{ routeName == 'location' ? " active" : "" }}">
                        <a class="nav-link" href="{{ path('location') }}">Travel</a>
                    </li>
                    <li class="nav-item {{ routeName == 'crafting' ? " active" : "" }}">
                        <a class="nav-link" href="{{ path('crafting') }}">Crafting</a>
                    </li>
                    {% if app.user.getPlayer().getCurrentLocation() is not empty %}
                        {% set location = app.user.getPlayer().getCurrentLocation() %}
                        <li class="nav-item {{ routeName == 'location_discover' ? " active" : "" }}">
                            <a class="nav-link" href="{{ path('location_discover', {
                                'id': location.getId()
                            }) }}">{{ location }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">{{ app.user.getEmail() }}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">settings</a>
                            <div class="dropdown-divider"></div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('easyadmin') }}">go to admin</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('app_logout') }}">logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            {% include 'partials/playerSidebar.html.twig' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
                {% include 'partials/flashes.html.twig' %}
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
