{% extends 'layout.html.twig' %}

{% block title %}Hello ItemController!{% endblock %}

{% block content %}
    <h1>Item {{ item }}</h1>

    <h2>Description</h2>
    <table class="table">
    </table>

    <h1>Attributes</h1>

    {% set itemAttributes = item.getItemAttributes() %}

    <table class="table">
        {% for itemAttribute in itemAttributes %}
            <tr>
                <td>{{ itemAttribute.getAttribute().getName() }}</td>
                <td>{{ (itemAttribute.getValue > 0) ? "+" : "" }}{{ itemAttribute.getValue() }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
